form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 10%;
}

.search-bar {
  width: 25vw;
  outline: none;
}

.search-btn {
  height: 100%;
  width: 30%;
  outline: none;
  margin-right: 5%;
}

.display-all {
  height: 100%;
  width: 30%;
  outline: none;
}
