form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 10vh;
}

.btn-styling{
  width: 30%;
  padding: 1%;
}

.search-bar {
  width: 30%;
  outline: none;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  border: solid #5e0000 2px;
}

.search-btn, .display-all{
  background-color: black;
  color: white;
  font-family: 'Roboto';
  font-weight: 700;
  outline: none;
  border: solid white 1px;
}

.search-btn {
  margin-right: 5%;
  margin-left: 5%;
  width: 30%
}

.display-all {
  width: 30%;
}

.search-btn:hover, .display-all:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.75), 0 17px 50px 0 rgba(0,0,0,0.5);
}

@media screen and (max-width: 1024px) {

  .search-btn, .display-all{
    width: 50%;
    margin-top: 5%;
  }

}
